In [92]:
import nltk
import re
import random
from nltk import ngrams
import pandas as pd

nltk.download('gutenberg')

[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!

True

In [93]:
glutenberg_books = nltk.corpus.gutenberg.fileids()

In [94]:
print("These are the books from gutenberg project: ")
for book in glutenberg_books:
  print(book)

These are the books from gutenberg project:
austen-emma.txt
austen-persuasion.txt
austen-sense.txt
bible-kjv.txt
blake-poems.txt
bryant-stories.txt
burgess-busterbrown.txt
carroll-alice.txt
chesterton-ball.txt
chesterton-brown.txt
chesterton-thursday.txt
edgeworth-parents.txt
melville-moby_dick.txt
milton-paradise.txt
shakespeare-caesar.txt
shakespeare-hamlet.txt
shakespeare-macbeth.txt
whitman-leaves.txt

In [95]:
str_input = "how many books do you want between 1 and " + str(len(glutenberg_books)) + ": "
while True:
  try:
    n=int(input(str_input))
    if n not in [i+1 for i in range(len(glutenberg_books))]:
      raise ValueError()
    else:
      break
  except ValueError:
    print("Oops!  That was no valid number.  Try again between 1 and", len(glutenberg_books))

how many books do you want between 1 and 18: 2

In [96]:
print("please select which book you want by the number")
for index, val in enumerate(glutenberg_books):
  print("for ",val, "select: ", index+1)

book_list = [] 
for i in range(n):
  while True:
    try:
      book_number = int(input())
      if book_number in book_list:
        raise ValueError()
      if book_number not in [i+1 for i in range(len(glutenberg_books))]:
        raise ValueError()
      book_list.append(book_number)
      break 
    except ValueError:
      print("eithe this book you have entered have been already or you have given a wrong input, please provide input between 1 and", len(glutenberg_books))

please select which book you want by the number
for  austen-emma.txt select:  1
for  austen-persuasion.txt select:  2
for  austen-sense.txt select:  3
for  bible-kjv.txt select:  4
for  blake-poems.txt select:  5
for  bryant-stories.txt select:  6
for  burgess-busterbrown.txt select:  7
for  carroll-alice.txt select:  8
for  chesterton-ball.txt select:  9
for  chesterton-brown.txt select:  10
for  chesterton-thursday.txt select:  11
for  edgeworth-parents.txt select:  12
for  melville-moby_dick.txt select:  13
for  milton-paradise.txt select:  14
for  shakespeare-caesar.txt select:  15
for  shakespeare-hamlet.txt select:  16
for  shakespeare-macbeth.txt select:  17
for  whitman-leaves.txt select:  18
3
4

In [97]:
print("These are the books that you have ordered for: ")
for book in book_list:
  print(glutenberg_books[book-1])

These are the books that you have ordered for:
austen-sense.txt
bible-kjv.txt

In [98]:
flag = True

while True:
  try:
    flag_i = int(input("Please choose how you want to partition, do you want to partition words randomly (press 1) or you want to partition by a chunks of the book (press 2)"))
    if flag_i not in [1, 2]:
      raise ValueError()
    else:
      break
  except ValueError:
    print("Oops!  That was no valid number.  Try again between 1 and 2")

if flag_i == 2:
  print("great! books will now be partitioned randomly in chunks or part of the text")
  flag = False
else:
  print("great! books will now be partitioned randomly and the words will also be picked randomly")

Please choose how you want to partition, do you want to partition words randomly (press 1) or you want to partition by a chunks of the book (press 2)1
great! books will now be partitioned randomly and the words will also be picked randomly

In [99]:
d = {} 
if flag == False:

  for book in book_list:
    partitions = [] 
    file = nltk.Text(nltk.corpus.gutenberg.words(glutenberg_books[book-1])) # selecting the book

    file = [w.lower() for w in file if w.isalpha()] # removing all symbols
    
    n = 100
    n_grams =  list(ngrams(file, n))
    for i in range(200):  
      
      sample_list = []

      for i in range(100):
        sample_list.append(n_grams.pop(random.randint(0, len(n_grams)-i)))

      partition = " ".join(sample_list[99])
      partitions.append(partition)
            
    book_name = glutenberg_books[book-1]
    book_name = book_name.rsplit('.', 1)[0]
    d[book_name] = partitions

In [111]:
if flag == True:
  for book in book_list:
    partitions = [] 

    file = nltk.corpus.gutenberg.words(glutenberg_books[book-1])
    file = list(file)

    words = [w.lower() for w in file if w.isalpha()]
    
    for i in range(200):
      a = [] 
      for j in range(100):
        index = random.randrange(0, len(words))
        a.append(words.pop(index))
      partition = " ".join(a)
      partitions.append(partition)
            
    book_name = glutenberg_books[book-1]
    book_name = book_name.rsplit('.', 1)[0]
    d[book_name] = partitions

In [112]:
df = pd.DataFrame(d)

In [121]:
df.to_csv('gutenberg_books_processed.txt', encoding='utf-8', index=False, sep=',')

In [122]:
df.head()

,austen-sense,bible-kjv
0,it i that the perceived seemed before that dis...,a search brought foolishness sacrifices smote ...
1,when pocket hand almost feel mine them heard o...,from sanctified and gate that s to set the and...
2,whom the on understand in her summoned i were ...,and aloud twenty i saying of the that liest of...
3,it my at at misfortune idleness in to tell as ...,the the but water he second and face field her...
4,the anybody their marry love resigned you very...,garments offering a for also of away it of hea...

In [123]:
df['austen-sense'][0]

'it i that the perceived seemed before that disposition well loved at elinor on flew in know sake room of difference neither from such no expectation penitence was she she there you allow claim exertion what it a this to if nothing therefore me to it when under him brother and be that had that purpose of than of was herself she between put of all additional certainty that drawing known ranging accomplishment friend back turn my have and a leaving longer care the possible smart caprice and great but my five am been is s to in been as'